#contact-me{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    /* margin-bottom: 10%; */
    width: 50vw;
}

.form-fields{
    margin-bottom: 4%;
    padding: 15px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    background-color: #93a3b1;
}

textarea{
    resize: none;
}

#submit-contact{
    color: #4c443c;
    font-size: 18px;
}

#submit-contact:hover{
    background-color: #7c898b;
    color: white;
    cursor: pointer;
}

.menu-circle{
    border: solid thin #7c898b;
    border-radius: 50%;
    margin: 3px;
    height: 40px;
    width: 45px;
    margin-right: 20px;
}

.menu-circle:hover{
    border-width: 3px;
}

#menu-circles{
  display: flex;
  justify-content: space-around;
  height: 30vh;
  align-items: end;
}

#status{
    width: 50%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10%;
    border-radius: 8px;
}

#status.success{
    background-color: white;
    animation: status 4s ease forwards;
}

#status.error{
    background-color: blue;
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}